*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #364371;
    font-family: Arial, Helvetica, sans-serif;
}

#wrap{
    background-color: #5b7fbd;
    width: 80%;
    margin: 0 auto;
}
#wrap::after{
    content:'';
    clear: both;
    display:table;

}
#nav{
    width: 20%;
    float:left;
    background-color: #b0cfff;
    height: 100%;
    text-align: center;
}
#nav h2{
    background-color: aliceblue;
    margin: 20px auto;
}
#nav ul{
    background-color: azure;
    list-style-position: inside;
    display: inline-block;
    text-align: left;
}

#content{
    width: 80%;
    float:right;
    text-align: center;
    padding: 0px 20px;
}
#content h1{
    margin: 20px;
}
#content p{
    margin-bottom:20px;
}

#content ul{
    list-style-type: none;
}
body p{
    width:80%;
    margin:0 auto;
    text-align: right;
    padding: 10px 20px;
}
